.history-item {
  position: relative; /* Enables absolute positioning for the button */
  margin-bottom: 5px; /* Space between items */
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  /* border-radius: 5px; */
}

.history-text {
  /* display: inline-block; */
  white-space: pre-wrap;
  max-width: calc(100% - 60px); /* Ensure the text doesn't overlap the button */
}
.history-date {
  /* display: inline-block; */
  max-width: calc(100% - 60px);
  font-size: 10px; /* Smaller font size */
  color: grey; /* Grey color for less emphasis */
}

.button-container {
  position: absolute;
  top: 5px; /* Align the wrapper at the top */
  right: 5px; /* Align the wrapper to the right */
  display: flex;
  flex-direction: row-reverse; /* Stack the buttons vertically */
  gap: 5px; /* Space between buttons */
}

.copy-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #45a049;
}

.edit-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #45a049;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  height: 100vh; /* 100% of the viewport height */
  overflow: hidden; /* Prevent the entire container from scrolling */
}

/* .column { */
/*     flex: 1;  /\* Each column gets equal width *\/ */
/*     overflow-y: auto;  /\* Allow vertical scrolling if content exceeds the height *\/ */
/*     background-color: #f0f0f0; */
/*     padding: 5px; */
/*     box-sizing: border-box; */
/* } */
.column-left,
.column-right {
    padding: 5px;
    height: 100%;
}

.column-left {
    background-color: #f0f0f0;
    overflow-y: auto;  /* Allow vertical scrolling if content exceeds the height */
    width:50%;
}

.column-right {
    background-color: #e0e0e0;
    width: 50%;
}

.column-resize-bar {
    cursor: ew-resize;
    background-color: #888;
    width: 2px;
    height: 100%;
    transition: background-color 0.3s;
}

.resize-bar:hover {
    background-color: #555;
}

.column-controls {
    display: flex;
    padding-bottom: 5px;
    height: 5%;
}
#searchInput {
    flex: 1;
}

#promptInput {
    flex: 2;
    margin-right: 5px; /* Space between items */
}

#editor {
    height: 100%; /* TODO fill down after prompting text box */
}

/* .content { */
/*     background-color: #fff; */
/*     width: 100%; */
/*     height: 100vh; */
/*     padding: 15px; */
/*     border-radius: 8px; */
/*     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
/* } */
